# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test files
*.test
*.out
coverage.out
coverage.html
coverage.txt
helpers.out

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
vendor/
